body {
    font-family: monospace;
}

button {
    font-family: monospace;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    color: black;
    text-align: center;
}

#greeting {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: black;
    text-align: center;
}

#ground {
    position: absolute;
    bottom: 20%;
}

#player {
    position: absolute;
    left: 50%;
    bottom: 50%;
}

#platform {
    position: absolute;
    bottom: 25%;
    right: 40%;
    font-family: monospace;
    font-size: 16px;
    white-space: pre;
}

#start-game {
    display: none;
}

.money {
    font-size: 1.5em;
    display: none;
}