body {
    font-family: monospace;
}

button {
    font-family: monospace;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    color: black;
    text-align: center;
}

#greeting {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: black;
    text-align: center;
}

#ground {
    position: absolute;
    bottom: 20%;
}

#player {
    position: absolute;
    left: 50%;
    bottom: 20%;
}

#star {
    position: absolute;
    bottom: 20%;
    left: 50%;
}

#start-game {
    display: none;
}

.money-stats {
    font-size: 1.5em;
    display: none;
}

.farm-stats {
    font-size: 1.5em;
    display: none;
}

.farm {
    display: none;
}

#farm-text {
    position: absolute;
    bottom: 28.75%;
    left: 32.25%;
    font-family: monospace;
    font-size: 1.5em;
    white-space: pre;
}

#farm-plant-button-div {
    position: absolute;
    bottom: 35%;
    left: 34.5%;
}

#farm-plant-button {
    position: absolute;
    font-family: monospace;
    font-size: 1em;
    white-space: pre;
}

#farm {
    position: absolute;
    bottom: 19.75%;
    left: 30%;
    font-family: monospace;
    font-size: 16px;
    white-space: pre;
}

#farm-buy-button-div {
    position: absolute;
    bottom: 40%;
    left: 34.5%;
}

#farm-buy-button {
    position: absolute;
    font-family: monospace;
    font-size: 1em;
    white-space: pre;
}

#farm-harvest-button-div {
    position: absolute;
    bottom: 25%;
    left: 34.5%;
    display: none;
}

#farm-harvest-button {
    position: absolute;
    font-family: monospace;
    font-size: 1em;
    white-space: pre;
}

#sell-button {
    display: none;
    position: absolute;
    left: 13%;
    top: 11%;
}